body {
  margin: 0;
  text-align: center;
  font-family: 'Lora', serif;
}

hr {
  size: 1000px;
  width: 20%;
  border-bottom: none;
  border-top: dotted;
  border-top-width: 15px;
}

div {
  margin-bottom: 0px;
}

h1 {
  margin: 50px auto 0px auto;
  font-family: 'Dancing Script', cursive;
  font-size: 90px;
  color: #66BFBF;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.top-container {
  background-color: #E8F1F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 450px;
}

.hobbies-images {
  display: block;
  margin: 0 auto 0 auto;
  width: 400px;
  height: 400px;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2;
  margin-bottom: 0px;
  margin-top: 0px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 1.8;
}

.teaching-image {
  display: block;
  margin-right: 30px;
  width: 25%;
  height: 25%;
}

.tech-image {
  margin-left: 30px;
  float: right;
  width: 25%;
  height: 25%;
}
.first-para-text-position{
  clear: left;
}
.second-para-text-position{
  clear: right;
}
.first-link-floater{
float: left;
}
.second-link-floater{
  float: right;
}
